@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;800;900&family=Poppins:wght@400;500;600;800&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}


/* ---------------------HERO SECTION---------------------- */
body {
    background-color: black;
    overflow-x: hidden;
}

/* HERO IMAGE */
.main {
  background-image: url(assets/hero-section.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: max(1380px, 100vw);
}

/* layer of dark opacity over hero-image */
.main .box {
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 0.65;
  position: absolute;
  top: 0;
}


/* ---------------------------NAV BAR --------------------*/
.main nav {
  display: flex;
  align-items: center;
  height: 88px;
  justify-content: center;
  max-width: 100vw;
  margin: 0 148px;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

/* Netflix Logo */
.main nav img {
  height: 40px;
  width: 148px;
    filter: brightness(0) saturate(100%) invert(13%) sepia(97%) saturate(7442%) hue-rotate(357deg) brightness(96%) contrast(109%);
  
}


/*  --------------------HERO TEXT SECTION------------------ */
.main .hero-text {

  height: 82vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
  padding: 0 32px 0px 32px;

}


.main .hero-text h1 {
    width: 600px;
    height: 140px;
    font-size: 50px;
    font-weight: 900;
    line-height: 70px; 
    text-align: center;
  
}

.main .hero-text span:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.main .hero-text span .third-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}


/* ----------------------------BUTTONS------------------------ */
.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    cursor: pointer;
}

/* Aligning the "signin" button */
.si {
    margin-right: 15px;
}

/* "Get started" button */
.gs {
    font-size: 24px;
    line-height: 24px;
    height: 56px;
    position: relative;
    top: 3px;
}

/* Email */
.hero-text .email-bar {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #cccccca4;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 56px;
    width: 400px ;
    cursor:text;
    background: rgba(22, 22, 22, 0.8);
    
}


/*--------------- CONTENT SECTION  --------------------*/
/* IMAGE SECTION */


.free-space {
    height: 100px;
}

section {
    border-top: 4px solid transparent;
    border-image: linear-gradient(to right, #ff0f70, #9b00ff);
    border-image-slice: 1;
    padding: 0px 148px;
}

section .img-sec{
    display: flex;
    justify-content: center;
    height: 314px;
    margin-top: 16px;
    margin-bottom: 64px;
    overflow-x: auto;
    scroll-behavior: smooth;
    
}

section .img-sec .img img{
    height: 268px;
    width: 224px;
    border-radius: 5px;
    padding: 8px 22px;
    cursor: pointer;
}

section .img-sec .img {
    position: relative;
}

section .img-sec .first-img {
    margin-left:1200px ;  
   
}


section .img-sec .img .rank {
    font-size: 6rem;
    font-weight: bolder;
    position: absolute;
    left: 0px;
    bottom: 50px;
    -webkit-text-stroke: 2px white;
    color: black;
    z-index: 10;
}

/* CARDS SECTION */
section .card-sec {
    display: flex;
    justify-content: center;
    height: 354px;
    margin-bottom: 64px;
}

section .card-sec .card {
    height: 318px;
    width: 251px;
    /* background-color: rgba(61, 1, 110, 0.514); */
    margin-top: 12px;
    margin:auto;
    padding: 24px 16px 128px;
    border-radius: 15px;
    position: relative;
    /* background: linear-gradient(135deg, #1b1928, #2b2140); */
    background: linear-gradient(135deg, #1b1928, #1f1322);
}
/* Images */
section .card-sec .card svg {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

section .card-sec .card .heading {
    margin-top: 16px;
    font-size: 21px;
}

section .card-sec .card .text {
    margin-top: 16px;
}

/* FAQ SECTION */
section .faq-sec {
    height: 552px;
    margin-bottom: 64px;
}

section .faq-sec .faq-btn {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 84px;
    background-color:rgb(54, 54, 54) ;
    border: none;
    text-align: left;
    padding: 24px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 24px;
}

/* Footer Email */
.email-sec {
    text-align: center;
    margin-bottom: 64px;
    
}

.email-sec .email-bar {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #cccccca4;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 56px;
    width: 500px ;
    cursor:text;
    background: rgba(22, 22, 22, 0.8);
    margin-top: 20px;
    
}

/* -------------FOOTER---------------- */
footer { 
    
    padding: 0 148px;
}

footer .foot {
    
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 0px;
    margin-bottom: 64px;
}

footer .footer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
    line-height: 21px;
}

footer a {
    color: #ccc;
    line-height: 21px;
}






/*  ----------------RESPONSIVENESS---------------  */
@media (max-width: 1200px) {
    .main nav {
        margin: 0 44px;
    }

    .main .hero-text h1 {
        width: 500px;
        font-size: 40px;
    }

    .main .hero-text span:nth-child(2) {
        font-size: 16px;
    }

    .main nav img {
        padding-left: 0;
    }

}

@media (max-width: 900px) {
    .main nav {
        margin: 0 44px;
    }

    .main .hero-text h1 {
        font-size: 35px;
    }

    .main nav img {
        height: 24px;
        width: 89px; 
    }
    
    .main .hero-text span:nth-child(2) {
        font-size: 16px;
    }
     
    .main nav img {
        padding-left: 0;
    }

}

@media (max-width: 760px) {
    .main nav {
        margin: 0 30px;
    }

    .main .hero-text h1 {
        font-size: 30px;
    }
     
    .main nav img {
        padding-left: 0;
    }

}

@media (max-width: 650px) {
    .main .hero-text h1 {
        width: 400px;
    }

    .main nav {
        margin: 0 25px;
    }
     
    .main nav img {
        padding-left: 0;
    }  
}


@media (max-width: 380px) {
    .main .hero-text h1 {
        width: 300px;
    }
     
    .main nav img {
        padding-left: 0;
    }

}
   
