* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navBar{
    font-size: 14px;
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    background-image: url(/amazonClone/assets/logo.png);
    height: 35px;
    width: 110px;
    display: flex;
    position:absolute;
    top: 20px;
   
    
}

.navLogo{
    
    display: flex;
    height: 50px;
    width: 114px;
    border: 1px solid transparent;

}

.border:hover{
    border: 1.5px solid white;
}


.deliverTo{
    /* display: flex;
    align-items: center; */
    border: 1.5px solid transparent;
}
.addressFirst{
    font-size: 0.6rem;
}
.addressSecond{
    display: flex;
    font-size: 0.85rem;
}

.firstLine{
    margin-left: 18px;
    color: #cccccc;
}
.secondLine{
    color: white;
}

/* Nav Search */

.navSearch{
    display: flex;
    
    margin-left: 20px;
}

.navSearch:hover{
    border: 3px solid orange;
    border-radius: 7px;
}

.nav-select{
    
    color: #0f1111;
    background-color: #e6e6e6;
    text-align: center;
    height: 40px;
    width: 45px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.nav-input{
    width: 600px;
    height: 40px;
    border: none;
    color: #0f1111;
    }


.search-button{
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    height: 40px;
    width: 45px;
    
}

span {
    font-size: 0.7rem;
}

.signin-sec {
    font-size: 0.85rem; 
    font-weight: 700;
    
}


/* Cart */

.nav-cart i{
    font-size: 30px;
}


/* Panel Bar */
.panel {
    background-color: #232f3e;
    color: white;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel p {
    display: inline;
    text-align: center;
    margin-left: 10px;
}

.panel-ops {
    width: 90%;
    font-size: 0.85rem;
}


/* Hero Section */

.hero-section {
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 70%, white 100%),
    url(/amazonClone/assets/hero-section.jpg);
    background-size: cover;
    
}

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}

.box {
    margin-top: 20px;
    /* border: 2px solid black; */
    color: black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}

.img {
   
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
} 

.img2 {
    
    height: 100px;
    width: 100px;
}

.quadimg{
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
}

.box-content {
    
    margin-left: 10px;
    margin-right: 10px;
    
}
.box-content p {
    color: #007185;
}


/* footer */

.foot-panel1 {
    display: flex;
    margin-top: 30px;
    height: 49px;
    width: 100vw;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
    background-color: #232f3ede;
    color: white;
}

.foot-panel2 {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #232f3e ;
    height: 300px; 
}

ul {
    margin-top: 10px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.hscroll {
    background-color: skyblue;
}

/* footer panel 3 */

.foot-panel3{
    background-color:#232f3e;
    border-top: 0.5px solid #dddddd;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo1 {
    background-image: url(/amazonClone/logo.png);
    height: 35px;
    width: 110px;
}

.foot-panel4 {
    background-color: #171f29;
    color: white;
    text-align: center;
    font-size: .85rem;
    height: 76px;
    padding-top: 25px;
}
